<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="./1_files/style.css" title="Default">
<title>Eyster Field Notes</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="https://c3.staticflickr.com/3/2809/buddyicons/60097629@N07.jpg?1372632740" type="image/x-icon">
<link rel="icon" href="https://c3.staticflickr.com/3/2809/buddyicons/60097629@N07.jpg?1372632740" type="image/x-icon">
<!-- <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="https://xkcd.com/atom.xml">
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="https://xkcd.com/rss.xml"> --> 
<script type="text/javascript" src="./1_files/b66ed7.js.download" async=""></script>
<script type="text/javascript" src="./1_files/1b9456.js.download" async=""></script>

</head>
<body>
<div id="topContainer">
<div id="topLeft">
<span><a href="http://eyster.com/"><img src="./1_files/masthead.png" alt="Eyster Field Notes logo" height="115" width="165"></a></span>

</div>
<div id="topRight">
<div id="masthead">
<span><a href="http://eyster.com/"><img src="./1_files/profile.png" alt="Eyster picture" height="83" width="185"></a></span>
<span id="slogan">Sketches of the nature <br> we see around us.</span>
</div>
<div id="news">
Eyster Field Notes updates every day, unless we're in the field.
</div>
</div>
<div id="bgLeft" class="bg box"></div>
<div id="bgRight" class="bg box"></div>
</div>
<div id="middleContainer" class="box">

<div id="ctitle"> {{ page.title }}</div>
<ul class="comicNav">
<li><a href="http://nature.eyster.com/1/">|&lt;</a></li>
<li><a rel="prev" href="http://nature.eyster.com/1945/" accesskey="p">&lt; Prev</a></li>
<li><a href="http://nature.eyster.com/random/note/">Random</a></li>
<li><a rel="next" href="http://nature.eyster.com/#" accesskey="n">Next &gt;</a></li>
<li><a href="http://nature.eyster.com/">&gt;|</a></li>
</ul>
<div id="comic">
    {{content}}
</div>
<ul class="comicNav">
<li><a href="http://nature.eyster.com/1/">|&lt;</a></li>
<li><a rel="prev" href="http://nature.eyster.com/1945/" accesskey="p">&lt; Prev</a></li>
<li><a href="http://nature.eyster.com/random/note/">Random</a></li>
<li><a rel="next" href="http://nature.eyster.com/#" accesskey="n">Next &gt;</a></li>
<li><a href="http://nature.eyster.com/">&gt;|</a></li>
</ul>
<br>

<div id="licenseText">
<p>
This work is licensed under a
<a href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-NonCommercial 2.5 License</a>.
</p>
</div>
</div>

<!-- Layout by Ian Clasbey, davean, and chromakode, modifed by Harold Eyster-->


</body></html>