<!DOCTYPE html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115006138-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115006138-1');
</script>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="../../../assets/style.css" title="Default">
<title>Eyster Field Notes</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="https://c3.staticflickr.com/3/2809/buddyicons/60097629@N07.jpg?1372632740" type="image/x-icon">
<link rel="icon" href="https://c3.staticflickr.com/3/2809/buddyicons/60097629@N07.jpg?1372632740" type="image/x-icon">

</head>
<body>
<div id="topContainer">
<div id="topLeft">
<span><a href="http://eyster.com/"><img src="../../../assets/masthead.png" alt="Eyster Field Notes logo" height="115" width="165"></a></span>

</div>
<div id="topRight">
<div id="masthead">
<span><a href="http://eyster.com/"><img src="../../../assets/profile.png" alt="Eyster picture" height="83" width="185"></a></span>
<span id="slogan">Sketches of the nature <br> we see around us.</span>
</div>
<div id="news">
Eyster Field Notes updates every day, unless we're in the field.
</div>
</div>
<div id="bgLeft" class="bg box"></div>
<div id="bgRight" class="bg box"></div>
</div>
<div id="middleContainer" class="box">

<div id="ctitle"> {{ page.title }}</div>
<ul class="comicNav">
<li><a href="./1">|&lt;</a></li>
 {% assign post = site.posts.first %}
{% assign lastnum = post.number%}
{% if page.number >1 %}
	 {% assign prevpage = page.number| minus: 1 %}
{% else %}
	{% assign prevpage =  1%}
{% endif %}
	<li><a rel="prev" href="./{{prevpage}}" accesskey="p">&lt; Prev</a></li>
	
<!-- <li><a href="http://nature.eyster.com/random/note">Random</a></li> -->
{% if page.number < lastnum %}
	{% assign nextpage = page.number| plus: 1 %}
{% else %}
	 {% assign nextpage = ""%}
{% endif %}

<li><a rel="next" href="./{{nextpage}}"accesskey="n">Next &gt;</a></li>
<li><a href="./">&gt;|</a></li> 
</ul>
<div class="row">
  <div class="column"> 
  <a href = "{{page.image1}}"><img src="{{page.image1}}" title="{{page.mouse1}}" alt="image1"></a>
  <br>
  {{page.label1}}
	</div>
  <div class="column"> 
  	<a href = "{{page.image2}}"><img src="{{page.image2}}"  title="{{page.mouse2}}" alt="image2"></a>
	<br>
	{{page.label2}}
	 </div>

</div>
<!-- <ul class="comicNav">
<li><a href="./1">|&lt;</a></li>
 {% assign post = site.posts.first %}
{% assign lastnum = post.number%}
{% if page.number >1 %}
	 {% assign prevpage = page.number| minus: 1 %}
{% else %}
	{% assign prevpage =  1%}
{% endif %}
	<li><a rel="prev" href="./{{prevpage}}" accesskey="p">&lt; Prev</a></li>
<li><a href="http://nature.eyster.com/random/note">Random</a></li> 
{% if page.number < lastnum %}
	{% assign nextpage = page.number| plus: 1 %}
{% else %}
	 {% assign nextpage = ""%}
{% endif %}

<li><a rel="next" href="./{{nextpage}}"accesskey="n">Next &gt;</a></li>
<li><a href="./">&gt;|</a></li>
</ul> -->
<br>
<div id="licenseText">
<p>
&copy Harold Eyster/Artemis Eyster
<!-- <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
<br />This work is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. -->
</p>
</div>
</div>

<!-- Layout by Ian Clasbey, davean, and chromakode, modifed by Harold Eyster-->


</body></html>